@import "../../global.scss";
.works{
text-align: center;
background-color: white;

padding-block: 20px;
h1 {
  font-size: 50px;
  padding-bottom: 20px;
}
.main {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
  width: 100% !important;
  grid-template-columns: 40% 40%;
  
  .item{
    background-color: #fff;
    box-shadow: 0px 0px 15px -8px black;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 15px;
    margin-inline: 20px;
    width: 100%;
    .imgContainer{
      border-radius: 25px;
    margin: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: left;
    padding: 10px;
    }

    .detail{
      display: flex;
      gap: 20px;
      width: max-content;

   
    }
  }
}
}